.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(102, 102, 102);
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
input:checked + .slider {
  background-color: black;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/*cards container*/
.container {
  min-width: 90vw;
  margin-top: 70px;
  padding-top: 3%;
  display: flex;
  flex-direction: column;
}
.open {
  align-items: flex-end;
}
.card {
  padding: 6px;
  border: none;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
  transition: all 200ms ease-in-out;
}
.card::after {
  position: absolute;
  top: 12%;
  width: 80%;
  height: 83%;
  background-color: black;
  content: " ";
  border-radius: 10%;
  z-index: 1;
  transition: all 200ms ease-in-out;
}
.card:hover {
  transform: translateY(-10px);
}
.card:hover:after {
  box-shadow: 0px 0px 25px 10px rgb(225, 240, 181),
              0px 0px 25px 15px rgb(114, 247, 36);
}
.card-image {
  width: 100%;
  z-index: 2;
}
/*pagination*/
.pagination {
  margin: 3% 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination > div {
  padding: 15px 15px 0;
}
/* Larger desktop */
@media (min-width: 1200px) {
}
/* Large desktop */
@media (min-width: 980px) and (max-width: 1199px) {

}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

}
/* Landscape phones and down */
@media (max-width: 480px) {

}
