<div id="card-container" class="container">
  <div class="row justify-content-start">
    <div class="col-12 col-sm-auto">
      <!--Switch View-->
      <label id="viewSwitch" class="switch">
        <input id="viewSwitchInput" type="checkbox" [checked]="viewSwitch" (change)="viewSwitch = !viewSwitch">
        <span id="viewSwitchSlider" class="slider round"></span>
      </label>
    </div>
    <div class="col-12 col-sm-auto">
      <!--Switch Format-->
      <label id="formatSwitch" class="switch">
        <input id="formatSwitchInput" type="checkbox" [checked]="formatSwitch">
        <span id="formatSwitchSlider" class="slider round"></span>
      </label>
    </div>
    <div class="col-12 col-sm-auto">
      <!--Sorting-->
      <select id="orderFilter" class="form-control" (change)="onOrderChange()" [(ngModel)]="orderByProperty">
        <option id="orderFilterDefault" value="">Random</option>
        <option *ngFor="let order of orderOptions" [value]="order.value">{{order.label}}</option>
      </select>
    </div>
    <div class="col-12 col-sm-auto" *ngIf="orderByProperty !== ''">
      <!--Ascending / Descending Switch-->
      Asc
      <label id="sortingSwitch" class="switch">
        <input id="sortingSwitchInput" type="checkbox" [checked]="sortingSwitch" (change)="onSortingChange()" [disabled]="orderByProperty === ''">
        <span id="sortingSwitchSlider" class="slider round"></span>
      </label>
      Desc
    </div>
    <div class="col-12 col-sm-auto">
      <select
        *ngIf="filteredCardsLength > 20"
        id="itemsPerPAgeFilter"
        class="form-control"
        (change)="onItemsPerPageChange()"
        [(ngModel)]="itemsPerPage">
        <option value="20" selected="this.itemsPerPage == 20" *ngIf="filteredCardsLength > 20">20</option>
        <option value="35" selected="this.itemsPerPage == 35" *ngIf="filteredCardsLength > 20">35</option>
        <option value="50" selected="this.itemsPerPage == 50" *ngIf="filteredCardsLength > 35">50</option>
      </select>
    </div>
  </div>
  <div id="card-list" *ngIf="viewSwitch" class="row justify-content-center">
    <div
      class="card"
      *ngFor="let card of slicedCards"
      (click)="onShowCardDetails(card)"
      [ngClass]="(menuState === 'open') ? 'col-sm-6 col-md-6 col-lg-4 col-xl-3' : 'col-sm-6 col-md-3 col-lg-2 col-xl-2'">
      <img id="card-image" class="card-image" src="{{ card.image() }}">
    </div>
  </div>
  <div id="card-table" *ngIf="!viewSwitch" class="row justify-content-center">
    <div class="col-12">
      <div class="table-responsive">
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th scope="col">Cost</th>
            <th scope="col">Card Name</th>
            <th scope="col">Class</th>
            <th scope="col">Type</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let card of slicedCards">
            <th scope="row">{{card.cost}}</th>
            <td>{{card.name}}</td>
            <td>{{card.cardClass}}</td>
            <td>{{card.type}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
  </div>
  <div class="row justify-content-center pagination">
    <div class="col-auto">
      <ngb-pagination
        [maxSize]="4"
        [collectionSize]="filteredCardsLength"
        [(page)]="page"
        [boundaryLinks]="false"
        [(pageSize)]="itemsPerPage"
        (pageChange)="onPageChange($event)"
        *ngIf="totalPages > 1"></ngb-pagination>
    </div>
  </div>
</div>



