<div class="container">
  <div class="row justify-content-start">
    <div class="col-12 col-sm-auto">
      <!--Switch View-->
      <label class="switch">
        <input id="viewSwitch" type="checkbox" [checked]="viewSwitch" (change)="viewSwitch = !viewSwitch">
        <span class="slider round"></span>
      </label>
      {{viewSwitch}}
    </div>
    <div class="col-12 col-sm-auto">col sorting</div>
    <div class="col-12 col-sm-auto">
      <!--Switch Format-->
      <label class="switch">
        <input id="formatSwitch" type="checkbox" [checked]="formatSwitch">
        <span class="slider round"></span>
      </label>
    </div>
    <div class="col-12 col-sm-auto">
      <select
        *ngIf="filteredCardsLength > 20"
        id="itemsPerPAgeFilter"
        class="form-control"
        (change)="onItemsPerPageChange()"
        [(ngModel)]="itemsPerPage">
        <option value="20" selected="this.itemsPerPage == 20" *ngIf="filteredCardsLength > 20">20</option>
        <option value="35" selected="this.itemsPerPage == 35" *ngIf="filteredCardsLength > 20">35</option>
        <option value="50" selected="this.itemsPerPage == 50" *ngIf="filteredCardsLength > 35">50</option>
      </select>
    </div>
  </div>
  <div *ngIf="viewSwitch" class="row justify-content-center">
    <!--
    <div [ngClass]="(menuState === 'open') ? 'col-sm-6 col-md-12 col-xl-4' : 'col-sm-6 col-md-3 col-xl-2'">
      Current Page: {{ page }}
    </div>
    <div [ngClass]="(menuState === 'open') ? 'col-sm-6 col-md-12 col-xl-4' : 'col-sm-6 col-md-3 col-xl-2'">
      MenuState: {{menuState}}
    </div>
    <div [ngClass]="(menuState === 'open') ? 'col-sm-6 col-md-12 col-xl-4' : 'col-sm-6 col-md-3 col-xl-2'">
      Items per page: {{itemsPerPage}}
    </div>
    <div [ngClass]="(menuState === 'open') ? 'col-sm-6 col-md-12 col-xl-4' : 'col-sm-6 col-md-3 col-xl-2'">
      Filtercards length: {{filteredCardsLength}}
    </div>
    -->
    <div
      class="card"
      *ngFor="let card of slicedCards"
      (click)="onShowCardDetails(card)"
      [ngClass]="(menuState === 'open') ? 'col-sm-6 col-md-12 col-xl-3 col-lg-3' : 'col-sm-6 col-md-3 col-xl-2 col-lg-2'">
      <img class="card-image" src="{{ card.image() }}">
    </div>
  </div>
  <div *ngIf="!viewSwitch" class="row justify-content-center">
    <div class="col-12">
      <div class="table-responsive">
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th scope="col">Cost</th>
            <th scope="col">Card Name</th>
            <th scope="col">Class</th>
            <th scope="col">Type</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let card of slicedCards">
            <th scope="row">{{card.cost}}</th>
            <td>{{card.name}}</td>
            <td>{{card.cardClass}}</td>
            <td>{{card.type}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
  </div>
  <div class="row justify-content-center pagination">
    <div class="col-auto">
      <ngb-pagination
        [maxSize]="4"
        [collectionSize]="filteredCardsLength"
        [(page)]="page"
        [boundaryLinks]="false"
        [(pageSize)]="itemsPerPage"
        (pageChange)="onPageChange($event)"
        *ngIf="totalPages > 1"></ngb-pagination>
    </div>
  </div>
</div>



