<!--Side Menu with Slide-->
<div [@slideInOut]="menuState" class="side-menu">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-8 text-center">
        <h2>Filter Cards</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-8 text-center">
        <!--Name -->
        <input id="nameFilter" class="form-control" type="text" name="search" [(ngModel)]="nameSearch" (keyup)="onFilterChange($event)"
          autocomplete="off" placeholder="Filter by Name">
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-8 text-center">
        <!--Type -->
        <select id="typeFilter" class="form-control" (change)="onFilterChange($event)" [(ngModel)]="selectedType">
          <option value="">Choose a Type</option>
          <option *ngFor="let type of typeOptions" [value]="type.value">{{type.label}}</option>
        </select>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-8 text-center">
        <!--Class -->
        <select id="classFilter" class="form-control" (change)="onFilterChange($event)" [(ngModel)]="selectedClass">
          <option value="">Choose a Class</option>
          <option *ngFor="let class of classOptions" [value]="class.value">{{class.label}}</option>
        </select>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-8 text-center">
        <!--Mana Cost -->
        <select id="manaCostFilter" class="form-control" (change)="onFilterChange($event)" [(ngModel)]="selectedManaCost">
          <option value="">Choose Mana Cost</option>
          <option *ngFor="let manaCost of manaCostOptions" [value]="manaCost.value">{{manaCost.label}}</option>
        </select>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-8 text-center">
        <!--Set -->
        <select id="setFilter" class="form-control" (change)="onFilterChange($event)" [(ngModel)]="selectedSet">
          <option value="">Choose a Set</option>
          <option *ngFor="let set of setOptions" [value]="set.value">{{set.label}}</option>
        </select>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-8 text-center">
        <!--Rarity -->
        <select id="rarityFilter" class="form-control" (change)="onFilterChange($event)" [(ngModel)]="selectedRarity">
          <option value="">Choose Rarity</option>
          <option *ngFor="let rarity of rarityOptions" [value]="rarity.value">{{rarity.label}}</option>
        </select>
      </div>
    </div>
  </div>
</div>

<!--Header Bar-->
<header class="main-header">
  <!--Menu Button-->
  <div (click)="toggleMenu()" [ngClass]="(menuState === 'open') ? 'active' : ''" class="bt-menu">
    <span></span>
  </div>
  <div class="menu-logo">
    <h4>HearthDB</h4>
  </div>
</header>

<!--Card List Component-->
<div class="card-container" [ngClass]="(menuState === 'open') ? 'card-container-open' : ''">
  <app-card-view [filteredCards]="filteredCards" [menuState]="menuState"></app-card-view>
  <div class="footer" [ngClass]="(menuState === 'open') ? 'footer-open' : ''">
    <p [ngClass]="(menuState === 'open') ? 'footer-open' : ''">This is my footer text</p>
  </div>
</div>
<!--Maybe a footer, but probably not-->

