/*Card List Child element with footer*/
.card-container {
  margin: 0;
  width: 100vw;
  min-height: 100vh;
  background: url('../../assets/parchment-background.jpg');
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
app-card-view {
  flex-grow: 1;
  transition: width 400ms ease-in-out;
}
/*footer styles*/
.footer {
  background: black;
  width: 100%;
  justify-self: flex-end;
  color: white;
  display: flex;
  justify-content: flex-start;
}
.footer p {
  margin: 0;
  padding: 10px 25px;
  width: 100%;
  transition: width 400ms ease-in-out;
}
/*Top Menu*/
.main-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: url('../../assets/wood_middle_repeat.png');
  background-position: bottom;
  background-repeat: repeat-x;
  padding: 0.5rem 1rem;
  z-index: 200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.menu-logo h4 {
  margin: 0;
  color: white;
}
/*Slide Menu*/
.side-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.644);
  color: #fff;
  position: fixed;
  left: auto;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100vw;
  z-index: 100;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
/*Burger Styles*/
.bt-menu {
  position: relative;
  display: block;
  width: 55px;
  height: 55px;
}
.bt-menu:after, .bt-menu:before {
  content: "";
}
.bt-menu span, .bt-menu::after, .bt-menu::before {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  left: 13px;
  right: 13px;
  border-top: 4px solid white;
  transition: .2s;
  border-radius: 7px;
}
.bt-menu::before {
  top: 18px;
}
.bt-menu span {
  top: 26px;
}
.bt-menu::after {
  top: 34px;
}
.bt-menu.active::before, .bt-menu.active::after {
  top: 25px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transition: .3s;
}
.bt-menu.active::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.bt-menu.active span {
  opacity: 0;
}
.bt-menu.active::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

/* Larger desktop */
@media (min-width: 1200px) {
  .side-menu {
    width: 30vw;
    background: rgb(0, 0, 0);
  }
  .card-container-open {
    align-items: flex-end;
  }
  .card-container-open > app-card-view {
    width: 70vw;
    padding: 0 2%;
  }
  .footer.footer-open {
    justify-content: flex-end;
  }
  .footer > p.footer-open {
    width: 70%;
  }
}
/* Large desktop */
@media (min-width: 980px) and (max-width: 1199px) {
  .side-menu {
    width: 50vw;
    background: rgb(0, 0, 0);
  }
  .card-container-open {
    align-items: flex-end;
  }
  .card-container-open > app-card-view {
    width: 50vw;
    padding: 0 2%;
  }
  .footer.footer-open {
    justify-content: flex-end;
  }
  .footer > p.footer-open {
    width: 50%;
  }
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  .side-menu {
    width: 50vw;
    background: rgb(0, 0, 0);
  }
  .card-container-open {
    align-items: flex-end;
  }
  .card-container-open > app-card-view {
    width: 50vw;
    padding: 0 2%;
  }
  .footer.footer-open {
    justify-content: flex-end;
  }
  .footer > p.footer-open {
    width: 50%;
  }
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

}
/* Landscape phones and down */
@media (max-width: 480px) {

}
