<!--Loading-->
<div class="loading">
  <img class="hs-logo" src="https://magbucket.neocities.org/hearthstoneicon4.png" alt="" width="220" height="220">
  <h1><b>Loading...</b></h1>
</div>
<!--Side Menu with Slide-->
<app-filter-menu
  [@slideInOut]="menuState"
  class="side-menu-filter"
  [collectibleCards]="cardCollection"
  [formatState]="formatState"
  (filteredCards)="onFilteredCards($event)"></app-filter-menu>
<!--Card Detail Menu with Slide-->
<app-detail-menu [@slideInOut]="detailState" class="side-menu-detail" [cardSelected]="cardSelected" (detailsClosed)="onDetailsClosed($event)"></app-detail-menu>
<!--Header Bar-->
<header class="main-header">
  <!--Menu Button-->
  <div class="button-logo">
    <div
      (click)="toggleMenu()"
      [ngClass]="{ 'active': (menuState === 'open'), 'disabled': (detailState === 'open') && (menuState === 'open')}"
      class="bt-menu">
      <span></span>
    </div>
    <div class="menu-logo">
      <h3><b>HearthDB</b></h3>
    </div>
  </div>
  <div class="github-details">
    <a href="https://github.com/andreferreiradlw/HearthDB" target="_blank">
      <p>View on GitHub</p><i class="fab fa-github fa-lg"></i>
    </a>
  </div>
</header>
<!--Card List Component-->
<div class="card-container" id="card-container" [ngClass]="(menuState === 'open') || (detailState === 'open') ? 'card-container-open' : ''" (click)="closeMenu($event)">
  <app-card-view
    [filteredCards]="filteredCards"
    [menuState]="menuState"
    [detailState]="detailState"
    (cardSelected)="onCardSelected($event)"
    (changeDetailState)="onChangeDetailState($event)"
    (changeView)="onViewChange($event)"
    (changeFormat)="onFormatChange($event)"></app-card-view>
  <div class="footer" [ngClass]="(menuState === 'open') || (detailState === 'open') ? 'footer-open' : ''">
    <p [ngClass]="(menuState === 'open') || (detailState === 'open') ? 'footer-open' : ''">
      Built by <a href="http://itsjustandre.com/">Andre</a>. Powered by <a href="https://hearthstonejson.com/">HearthstoneJSON</a>.
    </p>
  </div>
</div>

